
<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="style.css"></head>
 <body>
 <h1>What is you favorite to seat on an airplane</h1>
<h1><center>How to sell gift cards on Paxful without getting <b>Ripped</b></center></h1>
 <h5><marquee>Welcome to my blog</marquee></h5>
<p>Have you sold a gift card on Paxful and you got scammed? If yes, worry less because we got you now.</p>
<p>The purpose of this site is to create awareness on how to hustling niggas trying to avoid getting ripped off their sweat</p>
</body>
</html>
